#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-board-card {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  justify-content: center;
}

.game-message-span {
  display: block;
  margin-bottom: 10px;
}

.tile-row {
  margin-bottom: -5px;
}
.tile-button {
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  color: #000000;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  margin-top: 10px;
}
.start-button:hover {
  border-color: #646cff;
}
button:focus,
.start-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}